@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
}
.error {
  font-weight: bold;
  color: #f22;
}
.Contact {
  width: 200px;
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 1em;
  vertical-align: top;
  text-align: center;
}
.Contact img {
  width: 100%;
  max-height: 200px;
  border-radius: 50%;
}
